src/main/webapp/wsdl/Hellows.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.ws.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.ws.com" xmlns:intf="http://server.ws.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sms">
    <complexType>
     <sequence>
      <element name="tel" type="xsd:string"/>
      <element name="info" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="smsResponse">
    <complexType>
     <sequence>
      <element name="smsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="smsRequest">

      <wsdl:part element="impl:sms" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="smsResponse">

      <wsdl:part element="impl:smsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Hellows">

      <wsdl:operation name="sms">

         <wsdl:input message="impl:smsRequest" name="smsRequest">

       </wsdl:input>

         <wsdl:output message="impl:smsResponse" name="smsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HellowsSoapBinding" type="impl:Hellows">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="smsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="smsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HellowsService">

      <wsdl:port binding="impl:HellowsSoapBinding" name="Hellows">

         <wsdlsoap:address location="http://localhost:8071/ws-server/services/Hellows"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
